<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
  <article>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <div class="container">
      <ul id="articleList">
        {% for post in site.posts %}
        <li>
          <sub>{{ post.author }} - {{ post.date | date: '%B %d, %Y' }}</sub>
          <h3><a href="./">{{ post.title | upcase }}</a></h3>
          <p>{{ post.teaser }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    </div>
  </article>
</body>

</html>